<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <title>등록한 책들 확인하기</title>

        <style>
            img {
                position: absolute;
                width: 100%;
            }

        </style>

        <script>

        </script>
    </head>

    <body>
        <div id="bookReg">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4" style="position: relative">
                        <img src="https://image.aladin.co.kr/product/25455/72/cover500/k322633613_1.jpg"
                             alt="책 표지 사진입니다.">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="bookTitle"> Title &nbsp;&nbsp; <span style="font-size: 11pt;"
                                                                                            id="bookAuthor"> author </span>
                            </h5>
                            <p class="card-text" id="sentence" style="font-style: italic">This is a wider card with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text" id="comment">This is a wider card with supporting text below as a
                                natural lead-in to
                                additional content. This content is a little bit longer.This is a wider card with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer additional content. This content
                                is a little bit longer.This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer</p>
                            <p class="card-text" style="text-align: center"><small class="text-muted">2021-01-21 &nbsp;&nbsp;
                                <span>평점: &nbsp;</span><span> 4/5 </span></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>